.heeader-wrapper{
    background: url(../../../../images/home/netfilxbackground.jpg);
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    padding: 30px 50px;
    height: 600px;
}